[user]
	name = kkthxbye
	email = kkthxbye@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[gpg]
	format = ssh
[commit]
	gpgsign = true
[core]
	autocrlf = input
	safecrlf = false
[gui]
	encoding = utf-8
