[user]
	name = Tema
	email = 1923522+kkthxbye@users.noreply.github.com
[difftool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = 'C:/Program Files/KDiff3/kdiff3.exe' \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
[core]
	autocrlf = input
	safecrlf = false
[gui]
	encoding = utf-8
[safe]
	directory = C:/code/prometheus_snowflake_exporter
	directory = C:/code/FlareSolverr
